@import "./bootstrap.scss";

$page-max-width: 1000px;

html {
    scroll-behavior: smooth;
}

div.global-container {
    max-width: $page-max-width;
    margin-left: auto;
    margin-right: auto;

}

@import 'topbar.scss';
@import 'emails.scss';
@import 'quiz.scss';
@import 'shtems.scss';
@import 'singleShtem.scss';
@import 'singleCategory.scss';