.product-image {
    display: block;
    border-radius: 16px;
    position: relative;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
}

.product-image:hover {
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.15);
    transform: scale(1.025);
}

.product-image>img {
    height: 11rem;
    background-color: #fff4;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
    min-width: 100%;
    max-width: none;
}

.shtem-name {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}

// MEDIA

@media screen and (min-width: 992px ) {
    .product-image>img {
        height: 16rem;
    }
    .shtem-name {
        max-width: 250px;
        font-size: 16px;
    }
}

// OTHER

.scroll-snap {
    scroll-snap-align: start;
}

.overflow-scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.overflow-scroll-x::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}