
$page-small-width: 900px;

div.small-container {
    max-width: $page-small-width;
    margin-left: auto;
    margin-right: auto;

}

.book-category-detail-image {
    width: 200px;
}

@media screen and (max-width: 768px) {
    .book-category-detail-image {
        width: 150px;
    }
}

@media screen and (max-width: 576px) {
    .book-category-detail-image {
        width: 120px;
    }
}

@media screen and (max-width: 460px) {
    .book-category-detail-image {
        width: 96px;
    }
}