<!doctype html>
<html lang="en">
    {{ template "header" .}}
    <body>
        {{template "top-nav-bar" .}}

        <div class="container-lg">
            <div class="row mx-md-5">
                <div class="my-5 main-title text-center"><h1>🚧 Under Construction: Exciting Changes Ahead! 🚧</h1></div>
                <div class="description mb-5">
                    <p>Dear valued visitor,</p>
                    <p>Thank you for stopping by! We're thrilled to share that our website is currently undergoing a transformation to bring you an enhanced and engaging experience. We appreciate your patience and understanding.</p>
                    <p>
                        In the meantime, we invite you to explore a sneak peek of what's to come by visiting our temporary page at <a href="https://shtemaran.am/shtems/hayoc-1">https://shtemaran.am/shtems/hayoc-1</a>. This exclusive preview provides a glimpse into the exciting developments we have
                        in store for you.
                    </p>
                    <p>Stay tuned for the big reveal! We can't wait to showcase the refreshed and improved version of our website, designed with you in mind.</p>
                    <p>Thank you for your continued support.</p>
                    <p>
                        Best regards, <br />
                        Shtemaran.am Team
                    </p>
                </div>
            </div>
        </div>

        {{template "scripts" .}}
    </body>
</html>
