<!doctype html>
<html lang="en">
    {{ template "header" .}}
    <body>
        {{template "top-nav-bar" .}}

        <div class="container-fluid global-container">
            <div class="row">
                <div class="my-5 main-title text-center"><h1>🚧 Կառուցման փուլ 🚧</h1></div>
                <div class="description mb-5">
                    <p>Հարգելի այցելու,</p>
                    <p>Շնորհակալություն կանգնելու համար: Մենք ոգևորված ենք կիսվելու, որ մեր կայքը ներկայումս վերափոխման է ենթարկվում՝ ձեզ ընդլայնված և գրավիչ փորձառություն բերելու համար: Մենք գնահատում ենք ձեր համբերությունն ու ըմբռնումը:</p>
                    <p>
                        Միևնույն ժամանակ, մենք ձեզ հրավիրում ենք բացահայտելու գալիք իրադարձությունները՝ այցելելով մեր ժամանակավոր էջը <a href="https://shtemaran.am/shtems/hayoc-1">https://shtemaran.am/shtems/hayoc-1</a>. Այս բացառիկ նախադիտումը ցույց է տալիս մեր ունեցած հետաքրքիր զարգացումները
                        կատարվում է ձեզ համար:
                    </p>
                    <p>Մենք անհամբեր սպասում ենք, որպեսզի ցուցադրենք մեր կայքի թարմացված և կատարելագործված տարբերակը:</p>
                    <p>Շնորհակալություն աջակցության համար.</p>
                    <p>
                        Հարգանքներով, <br />
                        shtemaran.am Թիմ
                    </p>
                </div>
            </div>
        </div>

        {{template "scripts" .}}
    </body>
</html>
