<!doctype html>
<html lang="en">
    {{ template "header" .}}
    <body>
        {{template "top-nav-bar" .}}

        <div class="container-fluid global-container mt-5">
            <h1>Շտեմարաններ:</h1>
            <div class="row row-cols-sm-2 row-cols-lg-3 g-3 mt-2">
                {{ range .Body.Shtems }}
                <a href="/shtems/{{.LinkName}}" class="text-decoration-none">
                    <div class="col pe-3">
                        <div class="border rounded p-3">
                            <img src="/uploads/covers/hayoc.jpg" alt="{{.Name}}" style="width: 100%" />
                            <div class="shtem-name">{{.Name}}</div>
                        </div>
                    </div>
                </a>
                {{end}}
            </div>
        </div>

        {{template "scripts" .}}
    </body>
</html>
