{{define "lgEmail"}}
<div class="subscribe-section">
    <h2>Join our community of learners!</h2>
    <p>Subscribe now to receive support, resources, and updates tailored just for you.</p>
    <div class="input-group mb-3 justify-content-center" style="margin-top: 24px">
        <input type="email" class="form-control" placeholder="Email Address" aria-label="Email Address" />
        <button class="btn subscribe-btn" type="button">Subscribe</button>
    </div>
</div>
{{end}} {{define "smEmail"}} {{end}}
