{{define "lgEmail"}}
<div class="subscribe-section">
    <p class="h2">Միացե՛ք մեր թիմին</p>
    <p>Բաժանորդագրվեք հիմա՝ առանձնահատուկ ռեսուրսներ և թարմացումներ ստանալու համար</p>
    <div class="input-group mb-3 justify-content-center" style="margin-top: 24px">
        <input type="email" class="form-control" placeholder="Էլ-հասցե" aria-label="Էլ-հասցե" />
        <button class="btn subscribe-btn" type="button">Միանալ</button>
    </div>
</div>
{{end}} {{define "smEmail"}}
<div class="subscribe-section">
    <p class="h4">Միացե՛ք մեր թիմին</p>
    <div class="input-group mb-3 justify-content-center" style="margin-top: 12px">
        <input type="email" class="form-control" placeholder="Էլ-հասցե" aria-label="Էլ-հասցե" />
        <button class="btn subscribe-btn-sm" type="button">Միանալ</button>
    </div>
</div>
{{end}}
