{{define "floor_ads"}}
<!-- Yandex.RTB R-A-10427043-2 -->
<script>
    window.yaContextCb.push(() => {
        Ya.Context.AdvManager.render({
            blockId: 'R-A-10427043-2',
            type: 'floorAd',
            platform: 'touch'
        })
    })
</script>
<!-- Yandex.RTB R-A-10427043-3 -->
<script>
    window.yaContextCb.push(() => {
        Ya.Context.AdvManager.render({
            blockId: 'R-A-10427043-3',
            type: 'floorAd',
            platform: 'desktop'
        })
    })
</script>
{{end}}
