{{define "footer"}}
<footer class="row flex-column text-center global-container" style="background-color: rgba(0, 0, 0, 0.05)">
    <div class="mt-4 px-5">{{template "smEmail" .}}</div>
    <!-- Copyright -->
    <div class="text-center p-3">
        ©
        <script>
            document.write(new Date().getFullYear())
        </script>
        Copyright:
        <a class="text-body" href="https://shtemaran.am/">shtemaran.am</a>
    </div>
    <!-- Copyright -->
</footer>
{{end}}
