{{define "listShtems"}}
<div class="mt-2 mb-4">
    <div class="row row-cols-2 gx-2 gy-4">
        {{ range .Body.Categories}}
        <!-- prettier-ignore -->
        <section class="col-12">
            <div class="category-content d-flex justify-content-between">
                <h2 class="h3 text-left">{{.Category.Name}}</h2>
                <a href="/category/{{.Category.LinkName}}" type="button" class="btn btn-outline-primary radius-l d-none d-md-block">Տեսնել Բոլորը</a>
            </div>
            <div class="linear-product-listing position-relative">
                <div class="items d-flex overflow-scroll-x">
                    {{ range .Shtemarans }}
                    <!-- prettier-ignore -->
                    <a 
                            href="/shtems/{{.LinkName}}" 
                            class="cover my-2 me-2 scroll-snap text-decoration-none d-flex flex-column" >

                            <div class="product-image">
                                <img src="{{.Image}}" alt="{{.Name}}" />
                                <div class="d-flex justify-content-center">
                                    <div class="shtem-name">{{.Name}}</div>
                                </div>
                            </div>
                        </a>
                    {{end}}
                </div>
            </div>
            <a href="/category/{{.Category.LinkName}}" style="max-width: 180px;" type="button" class="btn btn-outline-primary radius-l d-block d-md-none mt-3">Տեսնել Բոլորը</a>
        </section>
        <!-- prettier-ignore -->
        {{end}}
    </div>
</div>
{{end}}
