{{define "scripts"}}
<script type="text/javascript" src="/assets/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/assets/js/main.min.js"></script>
<script type="text/javascript" src="/assets/js/quill.js"></script>
<script type="text/javascript" src="/assets/js/search.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VCEKM80WQ7"></script>
<script>
    window.dataLayer = window.dataLayer || []
    function gtag() {
        dataLayer.push(arguments)
    }
    gtag('js', new Date())

    gtag('config', 'G-VCEKM80WQ7')
</script>
{{end}}
