{{define "single-shtem"}}
<div class="container-fluid bg-white">
    <div class="row row-cols-lg-2 global-container bg-light py-5">
        <div class="justify-content-lg-end d-none d-lg-block mt-4">
            <div class="w-100 mb-4">
                <div class="position-relative book-detail-image mx-auto">
                    <a class="d-block w-100" href="#">
                        <img class="w-100" alt="Book Cover" src="/uploads/covers/hayoc.jpg" />
                    </a>
                    <div class="d-flex justify-content-center g-3 mt-4">
                        <div>
                            <a class="btn btn-secondary text-white me-2" href="#" role="button">Open PDF</a>
                            <a class="btn btn-success text-white" href="#" role="button">Train NOW!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mb-4">
                <h1 class="h1">Hayoc Lezu 1</h1>
                <div class="text-gray text-sm">
                    <span>Some random (Author) </span>
                </div>
            </div>
            <div class="col d-lg-none justify-content-between">
                <div class="mx-auto book-detail-image">
                    <img src="/uploads/covers/hayoc.jpg" class="w-100" alt="Book Photo" />
                </div>
                <div class="d-flex justify-content-center g-3 my-4">
                    <div>
                        <a class="btn btn-secondary text-white me-2" href="#" role="button">Open PDF</a>
                        <a class="btn btn-success text-white" href="#" role="button">Train NOW!</a>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <h3 class="h3 mb-2">Description</h3>
                <p>
                    At once cinematic yet intimate, <b><i>Broughtupsy</i></b> is an enthralling debut novel about a young Jamaican woman
                    grappling with grief as she discovers her family, her home, is always just out of reach
                </p>
                <p>
                    Tired of not having a place to land, twenty-year-old Akúa flies from Canada to her native Jamaica to reconnect with her
                    estranged sister Tamika. Their younger brother Bryson has recently passed from sickle cell anemia--the same disease that
                    took their mother ten years prior--and Akúa carries his remains in a small wooden box with the hope of reassembling her
                    family.
                </p>
                <p>
                    Tired of not having a place to land, twenty-year-old Akúa flies from Canada to her native Jamaica to reconnect with her
                    estranged sister Tamika. Their younger brother Bryson has recently passed from sickle cell anemia--the same disease that
                    took their mother ten years prior--and Akúa carries his remains in a small wooden box with the hope of reassembling her
                    family.
                </p>
                <p>
                    Tired of not having a place to land, twenty-year-old Akúa flies from Canada to her native Jamaica to reconnect with her
                    estranged sister Tamika. Their younger brother Bryson has recently passed from sickle cell anemia--the same disease that
                    took their mother ten years prior--and Akúa carries his remains in a small wooden box with the hope of reassembling her
                    family.
                </p>
            </div>
        </div>
    </div>
</div>
{{end}}
