{{define "single-shtem"}}
<div class="container-fluid bg-white d-flex">
    {{template "banner_ads"}}
    <div class="row row-cols-lg-2 bg-light py-5" style="max-width: 1000px">
        <div class="justify-content-lg-end d-none d-lg-block mt-4">
            <div class="w-100 mb-4">
                <div class="position-relative book-detail-image mx-auto">
                    <a class="d-block w-100" href="#">
                        <img class="w-100" alt="{{.Body.CurrentShtem.Name}}" src="{{.Body.CurrentShtem.Image}}" />
                    </a>
                    <div class="d-flex justify-content-center g-3 mt-4">
                        <div>
                            {{if .Body.CurrentShtem.HasPDF}}
                            <a
                                class="btn btn-secondary text-white me-2"
                                href="{{.Body.CurrentShtem.PDF}}"
                                role="button"
                                target="_blank"
                                >Բացել PDF-ը</a
                            >
                            {{end}} {{if .Body.CurrentShtem.HasQuiz}}
                            <a
                                class="btn btn-success text-white"
                                href="/shtems/{{.Body.CurrentShtem.LinkName}}/build-quiz"
                                role="button"
                                target="_blank"
                                >Սովորել</a
                            >
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="mb-4">
                <h1 class="h2">{{.Body.CurrentShtem.Name}}</h1>
                <div class="text-gray text-sm">
                    <span>{{.Body.CurrentShtem.Author}} (Հեղինակ) </span>
                </div>
            </div>
            <div class="col d-lg-none justify-content-between">
                <div class="mx-auto book-detail-image">
                    <img src="{{.Body.CurrentShtem.Image}}" class="w-100" alt="Book Photo" />
                </div>
                <div class="d-flex justify-content-center g-3 my-4">
                    <div>
                        {{if .Body.CurrentShtem.HasPDF}}
                        <a
                            class="btn btn-secondary text-white me-2"
                            href="{{.Body.CurrentShtem.PDF}}"
                            role="button"
                            target="_blank"
                            >Բացել PDF-ը</a
                        >
                        {{end}} {{if .Body.CurrentShtem.HasQuiz}}
                        <a
                            class="btn btn-success text-white"
                            href="/shtems/{{.Body.CurrentShtem.LinkName}}/build-quiz"
                            role="button"
                            target="_blank"
                            >Սովորել</a
                        >
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <h3 class="h4 mb-2">Նկարագրություն</h3>
                <div class="ql-editor">{{noescape .Body.CurrentShtem.Description}}</div>
            </div>
        </div>
    </div>
    {{template "banner_ads"}}
</div>
{{end}}
