{{define "sponsor"}}
<!-- <div class="sticky-bottom w-100">
    <div class="bg-dark text-white">
        <div class="d-flex justify-content-center align-items-center text-center fs-6" style="min-height: 40px">
            <div>
                Sponsored by
                <a href="https://www.instagram.com/codenairi" target="_blank" class="text-white text-decoration-none">
                    <i class="fa-brands fa-instagram mt-1"></i>
                    codenairi
                </a>
            </div>
        </div>
    </div>
</div> -->
{{end}}
