{{define "sponsor"}}
<div class="w-100">
    <div class="bg-dark text-white">
        <div class="d-flex justify-content-center align-items-center text-center fs-6" style="min-height: 40px">
            <div>
                New Design Coming Soon!! Check out
                <a href="https://dev.shtemaran.am" target="_blank" class="text-white"> dev.shtemaran.am </a>
                |
                <a href="mailto:dev.erikpetrosyan@gmail.com" target="_blank" class="text-white"> Email Me </a>
            </div>
        </div>
    </div>
</div>
{{end}}
