{{define "top-nav-bar"}}

<nav>
    <div class="container-fluid sticky-top">
        <div class="row flex-nowrap top-bar">
            <div class="d-none d-xl-flex col-1 flex-fill global-container"></div>
            <div class="col flex-fill">
                <div class="row" style="height: 100%">
                    <div class="col-2">{{template "top-logo"}}</div>
                    <div class="col-8">{{template "top-menu" .}}</div>
                    <div class="col-2">
                        <div class="d-flex justify-content-end align-items-center top-right">
                            <div class="d-none d-sm-flex d-lg-none me-2 text-white">{{.Body.TopMenu.CurrentName}}</div>
                            {{template "top-menu-mob" .}} {{template "top-user" .}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-xl-flex col-1 flex-fill"></div>
        </div>
    </div>
</nav>

{{end}}
